.main-bg{
    background-color: #eff5da;
    background-size: cover;
    background-position: center center;
    color: var(--primary-color)
}
.secundary-bg{
    background-color: var(--white-color);
    background-size: cover;
    background-position: center center;
    color: var(--primary-color)
}
.three-bg{
    background-color: #5b4632;
    color: var(--bege);
}
.main-content{
    max-width: 192rem;
    margin: 0 auto;
    padding: var(--gap);
}
.section{
    min-height: 100vh;
}
.menu-spacing{
    height: 65px;
}