.sobre-content{
    position: relative;
    top: -6rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: stretch;
    gap: var(--gap);
    height: 100vh;
}
.sobre-text-content, .sobre-img{
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: center;
}
.sobre-img img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100vh;
}
.span{
    margin-left: 4rem;
}
.sobre-text-content p, span{
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

/* ---------------------------------------- */

.grid1-content{
    display: flex;
    flex-direction: column; /* só isso! */
    justify-content: center;
    align-items: center;


    text-align: center;
    margin: 2rem;
    font-weight: 200;
}
.grid1-content h2{
  margin-top: 4rem;
}
.grid {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: var(--gap);
    
    align-items: center;
    justify-items: center;
    
}
.grid h3{
    font-size: 3rem;
}
.grid h3::before{
    font-size: 3rem;
}
.grid h4{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 30rem;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* distribui imagem e textos */
    height: 100%; /* ocupar toda a altura disponível */
    text-align: center;
    padding: 1rem;
}

.grid img{
    width: 30rem;
    height: 30rem;
    display: flex;

    justify-content: center;
    /* align-items: center; */
    object-fit: cover;
    border-radius: 1rem;
}

/* ------------------------------------------------ */

.refil {
    display: flex;
    flex-wrap: nowrap;
     /* ou auto, se preferir que tudo se ajuste ao conteúdo */
  }
  
  .foto1, .refil-img {
    flex: 1; /* faz as imagens ocuparem o mesmo espaço proporcional */
    overflow: hidden;
  }
  
  .foto1 img, .refil-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .title-content h2{
    margin-top: 8rem;
    margin-bottom: 4rem;
    text-align: center;

  }
  .title-content {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  /* ----------------------------------------------- */
  .container {
    display: grid;
    grid-template-columns: repeat(6, 150px); /* 6 colunas fixas */
    grid-template-rows: repeat(4, 150px);
    gap: 3rem;

    justify-content: center;
    max-width: 100%;
    align-items: center;

  }
  section.galeria{
    height: 90vh;
    overflow: hidden;
  }
 
  .galeria h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3.7rem;
  }
  .container img {
    width: 17rem;
    height: 17rem;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
.imagens {
  position: relative; /* ESSENCIAL */
  width: 17rem;
  height: 17rem;
  overflow: hidden;
}
  .imagens img:hover {
    transform: scale(1.05);
  }
  
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5b4632ce; /* Cor escura e transparente */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.imagens:hover .overlay {
  opacity: 1;
}
.imagens p{
  font-size: 18px;
  font-weight: 400;
}
/* -------------------------------------------------------- */
.content-contatos{
  width:  90%;
  height: 60rem;

  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
  align-items: center;
  background-color: #523d2c;
  color: var(--bege);
}
.form{
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-content: center;

  /* background-color: var(--primary-color); */

}
.form1{
  font-size: 14px;
  font-weight: 200;
}
input{
  width: 30rem;
  padding: 1rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--bege);
  margin-bottom: 2rem;
  margin-top: 2rem;

  font-family: 'Poppins', sans-serif;
}
.formulario h2{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.formulario{
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.img-content{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50rem;
  height: 50rem;
  margin-left: 2rem;
  margin-right: 5rem;
}
button{
  margin-top: 2rem;
  width: 33rem;
  background-color: #32261b;
  color: aliceblue;
  padding: 0.5rem;
  border-radius: 2rem;
  transition: 0.5s;
  font-family: 'Poppins';
}

button:hover{
  background-color: aliceblue;
  color: #32261b;
  transform: scale(1.02);
}